<!-- <router-outlet></router-outlet> -->
<h1>Chat App  Login</h1>
<form [formGroup]="loginform" (ngSubmit)="onSubmit()"> 
    <div class="font">
   <div class="label_cover"><label class="lanbel_cls" for="username">UserName</label></div> 
    <input type='text' formControlName="username">
    </div>
    <div class="font">
    <div class="label_cover"><label class="lanbel_cls" for='password'>Password</label></div>
    <input  type='Password' formControlName="password">
    </div>
    <button type="submit">Login</button>
    </form>

    <button (click)="router.navigate(['/register']);">
        <span>Go to register Page</span>
     </button>

